* {
  font-family: 'Zilla Slab', serif;
  background-color: #FFE519;
  list-style: none;
}

button {
  background-color: #30017D;
  color: #FFE519;
}

input[type="text"] {
  background: #782DF4;
  border: none;
  color: white;
  width: 400px;
}

label {
  font-size: 18px;
}

li {
  font-size: 16px;
}

.jumbotron {
  height: 200px;
}

.tracks {
  width: 50px;
}

.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #1B9A00;
  margin-top: 20px;
}

#footerImg {
  height: 200px;
}
