* {
  font-family: 'Zilla Slab', serif;
  background-color: #FFE049;
  list-style: none;
}

body {
  background-color: #FFE049;
}

button {
  background-color: #30017D;
  color: #FFE519;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 100px;
}

input {
  background: #782DF4;
  border: none;
  color: white;
  width: 400px;
  padding-left: 10px;
}

label {
  font-size: 18px;
}

p {
  font-size: 20px;
}

select {
  background-color: #30017D;
  color: #FFE519;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 200px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #1B9A00;
  text-align: center;
}

.jumbotron {
  height: 200px;
}

.navbar-btn {
  width: auto;
}

.photo {
  height: 250px;
}

.rightAlign {
  text-align: right;
}

.tracks {
  width: 50px;
}

#editForm, #newForm {
  padding: 10px;
}

#footerImg {
  height: 200px;
}
